<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous">
    <script async src="/static/js/script.js?1" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/style.css"/>

    <title>Title</title>
</head>
<body>
<!--nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</--nav>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>!-->

        <div class="card moving">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">1</a>
          </div></div>
<!--div class="row row-cols-1 row-cols-md-3 g-4" style="height: 100%; position: absolute; width: 100%">
    <div class="col" style="height: 100%;">
        <div class="card moving">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">1</a>
          </div>
        </div>
        <div class="card moving">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">2</a>
          </div>
        </div>
        <div class="card moving">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">3</a>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card moving" id="2">// style="width:300px; height:250px">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card moving">// style="width:300px; height:250px">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
</div-->
<table style="height: 100%; position: absolute; width: 100%">
    <tr>
        {% for key, value in columns.items() %}
            <td class="col" id=-{{ key }}>{{value}}</td>
        {% endfor %}
    </tr>
    <tr>
        <h1>{{actions}}</h1>
        {% for action in actions %}
            <td class="col place_to_drag" valign="top">
                {% for key, value in action.items() %}
                    <div class="card drag_element" id="{{key}}" align="top">
                      <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">{{value}}</p>
                        <a href="#" class="btn btn-primary">1</a>
                      </div>
                    </div>
                {% endfor %}
            </td>
        {% endfor %}
        <!--td class="col place_to_drag" valign="top">
            <div class="card drag_element" align="top">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">1</a>
          </div>
        </div>
        <div class="card drag_element">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">2</a>
          </div>
        </div>
        <div class="card drag_element">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">3</a>
          </div>
        </div>
        </--td>
        <td class="col place_to_drag" valign="top">
            <div class="card drag_element" id="2">// style="width:300px; height:250px">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        </td>
        <td class="col place_to_drag" valign="top">
            <div class="card drag_element" id="2">// style="width:300px; height:250px">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        </td-->
    </tr>
</table>
</body>
</html>